# UNIT 1 HOMEWORK

Q1. Downloading the data

We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".

Download the data for January and February 2023.

Read the data for January. How many columns are there?

    16
    17
    18
    19

In [1]:
import pandas as pd

df = pd.read_parquet("../yellow_tripdata_2023-01.parquet", engine="pyarrow")
print(len(df.columns))

19

In [2]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

Q2. Computing duration

Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

    32.59
    42.59
    52.59
    62.59

In [3]:
# Compute the duration in minutes
df["duration"] = (df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]).dt.total_seconds() / 60
# Compute the standard deviation of the duration
std_duration = df["duration"].std()
print(f"Standard deviation of duration: {std_duration:.2f} minutes")

Standard deviation of duration: 42.59 minutes

Q3. Dropping outliers

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

    90%
    92%
    95%
    98%

In [4]:
# Remove outliers
df = df[(df["duration"] >= 1) & (df["duration"] <= 60)]
# Compute the fraction of records left
fraction_left = len(df) / len(pd.read_parquet(
    "../yellow_tripdata_2023-01.parquet", engine="pyarrow"))
print(f"Fraction of records left: {fraction_left:.0%}")

Fraction of records left: 98%

Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

    Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
    Fit a dictionary vectorizer
    Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

    2
    155
    345
    515
    715

In [5]:
# Import the necessary libraries
from sklearn.feature_extraction import DictVectorizer

# Convert the pickup and dropoff location IDs to strings
df["PULocationID"] = df["PULocationID"].astype(str)
df["DOLocationID"] = df["DOLocationID"].astype(str)
# Create a list of dictionaries
data_dict = df[["PULocationID", "DOLocationID"]].to_dict(orient="records")
# Fit a dictionary vectorizer
dv = DictVectorizer()
X = dv.fit_transform(data_dict)
# Get the dimensionality of the feature matrix
num_columns = X.shape[1]
print(f"Dimensionality of the feature matrix: {num_columns}")

/tmp/ipykernel_1685488/3201495360.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PULocationID"] = df["PULocationID"].astype(str)
/tmp/ipykernel_1685488/3201495360.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["DOLocationID"] = df["DOLocationID"].astype(str)

Dimensionality of the feature matrix: 515

Q5. Training a model

Now let's use the feature matrix from the previous step to train a model.

    Train a plain linear regression model with default parameters, where duration is the response variable
    Calculate the RMSE of the model on the training data

What's the RMSE on train?

    3.64
    7.64
    11.64
    16.64

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
# Train a linear regression model
model = LinearRegression()
model.fit(X, df["duration"])
# Calculate the RMSE on the training data
y_pred = model.predict(X)
rmse = np.sqrt(mean_squared_error(df["duration"], y_pred))
print(f"RMSE on train: {rmse:.3f} minutes")

RMSE on train: 7.649 minutes

Q6. Evaluating the model

Now let's apply this model to the validation dataset (February 2023).

What's the RMSE on validation?

    3.81
    7.81
    11.81
    16.81

In [12]:
# Read the validation dataset
df_val = pd.read_parquet("../yellow_tripdata_2023-02.parquet", engine="pyarrow")
# Compute the duration in minutes
df_val["duration"] = (df_val["tpep_dropoff_datetime"] - df_val["tpep_pickup_datetime"]).dt.total_seconds() / 60
# Remove outliers
df_val = df_val[(df_val["duration"] >= 1) & (df_val["duration"] <= 60)]
# Convert the pickup and dropoff location IDs to strings
df_val["PULocationID"] = df_val["PULocationID"].astype(str)
df_val["DOLocationID"] = df_val["DOLocationID"].astype(str)
# Create a list of dictionaries
data_dict_val = df_val[["PULocationID", "DOLocationID"]].to_dict(orient="records")
# Transform the validation data using the same vectorizer
X_val = dv.transform(data_dict_val)
# Make predictions on the validation data
y_pred_val = model.predict(X_val)
# Calculate the RMSE on the validation data
rmse_val = np.sqrt(mean_squared_error(df_val["duration"], y_pred_val))
print(f"RMSE on validation: {rmse_val:.3f} minutes")

RMSE on validation: 7.812 minutes